{% extends "layout.html" %} {% block body %}

<!-- Page Header -->
{% set fname = 'img/' + post.img_file %}
<header
  class="masthead"
  style="background-image: url('{{ url_for('static', filename=fname) }}')"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{post.post_title}}</h1>
          <h2 class="subheading"></h2>
          <span class="meta"
            >Posted by
            <a href="#">Sohel Shekh</a>
            on {{post.post_date}}</span
          >
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto content">
        {{post.post_content}}
      </div>
    </div>
  </div>
</article>

<script>
  var textStr = $(".content").text();
  let tagText = textStr.replace(/['"]+/g, "");
  console.log(tagText);
  $(".content").html(tagText);
</script>
{% endblock %}
